<body>
<button [routerLink]="['/','home']" routerLinkActive="active" class="button-top-bar">Home</button>
<button [routerLink]="['/','createcv']" routerLinkActive="active" class="button-top-bar">Create CV</button>
<button [routerLink]="['/','cvlist']" routerLinkActive="active" class="button-top-bar">CV List</button>
</body>
