body{
  background:url('../../assets/hexagon texture.png') repeat;
  display: block;
  position: fixed;
  top: -10px;
  left:-10px;
  width:105%;
  height: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-size: initial;
  overflow: hidden;
  border-bottom: #666666 solid 2px;

}
.button-top-bar:first-child{
  margin-left: 20px;
}
.button-top-bar{
  font-family: "Calibri Light";
  background-color: #666666;
  color: whitesmoke;
  margin-right: 20px;
  border: 0px;
  padding: 2px 0 2px 0;
  height: 60px;
  width: 150px;
  font-size: 24px;
}
.button-top-bar:hover{
  background-color: #333333;
}
.button-top-bar:focus{
  border-color: black;
  outline: none;
}
.active{
  background-color: black;
}
