<ul *ngIf="cvs && cvs.length>0"class="cv-list">
    <li class="tile" *ngFor="let cv of cvs">
      <app-cv [cv]=cv></app-cv>
      <div class="cv-row" *ngIf="!editing || editingCV.id != cv.id">
        <a class="cv-completed" (click)="toggleCompleted(cv)">
          <i class="material-icons toggle-completed-checkbox"></i>
        </a>
        <span class="cv-actions">
                <button [routerLink]="['/', 'cvstyling', cv.id]">
                  edit
                </button>
                <button (click)="deleteCV(cv.id)">
                  delete
                </button>
        </span>
      </div>
    </li>
</ul>
<div class="no-cvs" *ngIf="!cvs || cvs.length==0">
    <p class="error-empty">No CVs Found!</p>
</div>

