.cv-list{
  font-family: "Calibri Light";
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  height: 100%;
  padding: 0;
  .tile{
    display: flex;
    min-width: 176px;
    width: 176px;
    flex-flow: column;
    margin: 5px;
    border: 1px solid #333333;
    justify-content: space-between;
    app-cv{
      margin-left: 3px;
    }
    .cv-actions{
      display: flex;
      align-self: end;
      flex-flow: row;
      justify-content: space-between;
      button{
        display: flex;
        text-transform: uppercase;
        width: 72px;
        height: 24px;
        justify-content: center;
        margin: 3px;
      }
    }
  }
}
.error-empty{
  font-family: "Calibri Light";
  margin: 80px 20px 0 0;
  color: #666666;
  font-size: 32px;
}
