<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<div class="infoCV">
  <div *ngIf="cv.title" class="title">{{cv.title}}</div>
  <div *ngIf="cv.name">{{cv.name}}</div>
  <div *ngIf="cv.hobbys">{{cv.hobbys}}</div>
  <div *ngIf="cv.experience">{{cv.experience}}</div>
  <div *ngIf="cv.skills">{{cv.skills}}</div>
  <div *ngIf="cv.education">{{cv.education}}</div>
  <div class="icon-container" *ngIf="cv && cv.completed">
    <mat-icon class="true">screen_rotation</mat-icon>
    <div class="icon-text">Ready</div>
  </div>
  <div class="icon-container false" *ngIf="cv && !cv.completed">
    <mat-icon>screen_rotation</mat-icon>
    <div class="icon-text">Not Finished</div>
  </div>
  <div *ngIf="cv.createdAt">{{cv.createdAt | date:'hh:mm dd.MM.yyyy'}}</div>
</div>
