.infoCV {
  width: 100%;
  font-family: Calibri;
  font-size: 20px;
  .title {
    font-size: 24px;
    border-bottom: 1px solid #333333;
    text-align: center;
  }
  .icon-container {
    display: flex;
    flex-flow: row;

    .icon-text {
      display: flex;
      flex-flow: column;
      justify-content: center;
      font-size: 12px;
      margin-left: 3px;
    }

  }
  .true {
    color: green;
  }
  .false {
    color: orange;
  }
}
