<div class="cv-create">
  <form #cvForm="ngForm" (ngSubmit)="createCV(cvForm.value)">
    <div class="form-container">
    <input type="text" id="title" class="form-control" placeholder="Name that CV"
           required
           name="title" [(ngModel)]="newCV.title"
           #title="ngModel">
    <div *ngIf="title.errors && title.dirty"
         class="alert alert-danger">
      <div [hidden]="!title.errors.required">
        Title is required.
      </div>
    </div>

      <input type="text" id="name" name="name" class="form-control" placeholder="Name and surname"
             [(ngModel)]="newCV.name" #name="ngModel">
      <input type="text" id="hobbys" name="hobbys" class="form-control" placeholder="Hobbys" [(ngModel)]="newCV.hobbys"
             #hobbys="ngModel">
      <input type="text" id="experience" name="experience" class="form-control" placeholder="Experience"
             [(ngModel)]="newCV.experience" #experience="ngModel">
      <input type="text" id="skills" name="skills" class="form-control" placeholder="Skills" [(ngModel)]="newCV.skills"
             #skills="ngModel" size="20">
      <input type="text" id="education" name="education" class="form-control" placeholder="Education"
             [(ngModel)]="newCV.education" #education="ngModel">
      <button type="submit" class="form-save-button">Save</button>
    </div>
  </form>
</div>
