.cv-create {
  display: flex;
  flex-flow: column;
}
.form-control {
  font-family: "Calibri Light";
  display: flex;
  padding: 2px 0 2px 2px;
  margin-bottom: 5px;
  width: 400px;
  height: 40px;
  font-size: 18px;
}
.form-container{
  display: flex;
  flex-direction: column;
  margin: 62px 0 0 12px;
}
.form-save-button{
  width: 400px;
  height: 50px;
  background-color: #666666;
  color: whitesmoke;
  border: none;
  padding: 4px;
  text-align: center;
  display: table-cell;
  margin-left: 2px;
  font-family: "Calibri Light";
  font-size: 25px;
  margin-top: 8px;
}
.form-save-button:hover{
  background-color: #333333;
}
.form-save-button:active{
  border-color: black;
}
