
.container {
  width: 100%;
  height: 100%;
  border: #666666 2px;
  display: flex;
  flex-flow: column;
  font-size: 20px;
  color: #333333;
}

.composition-list {
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}

.style {
  display: flex;
  flex-flow: column;
  width: 200px;
  height: 200px;
  border: #666666 solid 1px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 5px 5px 5px 0;
  .smaller-column-img{
    background: url('../../assets/smaller-column.png') no-repeat center center;
    width: 200px;
    height: 200px;
  }
  .equal-columns-img{
    background: url('../../assets/equal-columns.png') no-repeat center center;
    width: 200px;
    height: 200px;
  }
  .no-columns-img{
    background: url('../../assets/no-columns.png') no-repeat center center;
    width: 200px;
    height: 200px;
  }

}

.style:hover {
  border: #333333 solid 1px;
  background-color: #cccccc;
}

// style 1 ----------------------
.smaller-column {
  margin-top: 50px; //top-nav is 40px
  display: flex;
  flex-flow: row;
  width: 670px;
  .container1 {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 200px;
    .photo {
      width: 100%;
      height: 200px;
      border: 1px solid #666666;
      background: url('../../assets/no-photo-icon.png') no-repeat center center;
      background-size: contain;
    }
    .name {
      font-size: 22px;
      text-transform: uppercase;
    }
    .hobbys {
      border-top: 1px solid #666666;
    }
  }
  .container2 {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 450px;
    margin-left: 5px;
    .experience {

    }
    .skills {
      border-top: 1px solid #666666;
    }
    .education {
      border-top: 1px solid #666666;
    }
  }
}

// style 2 ----------------------
.equal-columns {
  margin-top: 50px;
  display: flex;
  flex-flow: row;
  width: 670px;
  .container1 {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 325px;
    .photo {
      width: 100%;
      height: 325px;
      border: 1px solid #666666;
      background: url('../../assets/no-photo-icon.png') no-repeat center center;
      background-size: contain;
    }
    .name {
      font-size: 25px;
      text-transform: uppercase;
    }
  }
  .container2 {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 325px;
    margin-left: 5px;
    .experience {

    }
    .skills {
      border-top: 1px solid #666666;
    }
    .education {
      border-top: 1px solid #666666;
    }
  }
}

// style 3 ----------------------
.no-columns {
  margin-top: 50px;
  display: flex;
  flex-flow: column;
  width: 670px;
  .container1 {
    display: flex;
    flex-flow: row;
    height: 300px;
    width: 650px;
    .photo {
      width: 300px;
      height: 300px;
      border: 1px solid #666666;
      background: url('../../assets/no-photo-icon.png') no-repeat center center;
      background-size: contain;
    }
    .name {
      width: 350px;
      font-size: 25px;
      text-transform: uppercase;
    }
  }
  .container2 {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 650px;
    margin-left: 5px;
    .hobbys {

    }
    .experience {
      border-top: 1px solid #666666;
    }
    .skills {
      border-top: 1px solid #666666;
    }
    .education {
      border-top: 1px solid #666666;
    }
  }
}
