<div *ngIf="!stylingSet" class="container">Choose yours CV composition:
  <div class="composition-list">
    <div class="style" (click)="SetStyle(1)">
      <div class="smaller-column-img"></div>Smaller column</div>
    <div class="style" (click)="SetStyle(2)">
      <div class="equal-columns-img"></div>Equal columns</div>
    <div class="style" (click)="SetStyle(3)">
      <div class="no-columns-img"></div>No columns</div>
  </div>
</div>

<div *ngIf="stylingSet && stylingClass==='smaller-column'" [class]=stylingClass>
  <div class="container1">
    <div class="photo"></div>
    <div class="name">{{cv.name}}</div>
    <div class="hobbys">{{cv.hobbys}}</div>
  </div>
  <div class="container2">
    <div class="experience">{{cv.experience}}</div>
    <div class="skills">{{cv.skills}}</div>
    <div class="education">{{cv.education}}</div>
  </div>
</div>

<div *ngIf="stylingSet && stylingClass==='equal-columns'" [class]=stylingClass>
  <div class="container1">
    <div class="photo"></div>
    <div class="name">{{cv.name}}</div>
    <div class="hobbys">{{cv.hobbys}}</div>
  </div>
  <div class="container2">
    <div class="experience">{{cv.experience}}</div>
    <div class="skills">{{cv.skills}}</div>
    <div class="education">{{cv.education}}</div>
  </div>
</div>

<div *ngIf="stylingSet && stylingClass==='no-columns'" [class]=stylingClass>
  <div class="container1">
    <div class="photo"></div>
    <div class="name">{{cv.name}}</div>
  </div>
  <div class="container2">
    <div class="hobbys">{{cv.hobbys}}</div>
    <div class="experience">{{cv.experience}}</div>
    <div class="skills">{{cv.skills}}</div>
    <div class="education">{{cv.education}}</div>
  </div>
</div>
